{{- $current := printf "%v" (.Get "current" | default "") -}}
{{- $items := slice
    (dict "part" "1" "title" "Connecting Power Automate to Azure DevOps" "url" "/connecting-power-automate-to-devops/")
    (dict "part" "2" "title" "Updating Start and Due dates and other fields" "url" "/power-automate-update-fields-in-azure-devops/")
    (dict "part" "3" "title" "Using DevOps Rest API" "url" "/using-devops-rest-api-in-power-automate/")
    (dict "part" "4" "title" "Running a WIQL query" "url" "/running-a-wiql-devops-query-in-power-automate/")
    (dict "part" "5" "title" "Updating items without Notifications" "url" "/update-devops-without-notifications/")
    (dict "part" "6" "title" "Updating a task on behalf of another person" "url" "/devops-updates-on-behalf-of-another/")
-}}

<h2>DevOps with Power Automate</h2>
<p>This post is part of a series on using Power Automate with Azure DevOps.</p>
<ul>
    {{- range $items }}
    <li>
        {{- if eq $current .part -}}
            <strong>{{ .title }}</strong>
        {{- else if and .publishDate ((time .publishDate).After now) -}}
            {{ .title }} <em>(coming soon)</em>
        {{- else if .url -}}
            <a href="{{ .url }}">{{ .title }}</a>
        {{- else -}}
            {{ .title }}
        {{- end -}}
    </li>
    {{- end }}
</ul>
