{{- $current := printf "%v" (.Get "current" | default "") -}}
{{- $items := slice
    (dict "part" "1" "title" "Introduction to SVG Basics" "url" "/svg-in-power-bi-part-1-svg-basics/")
    (dict "part" "2" "title" "KPI Shapes in Power BI" "url" "/svg-in-power-bi-part-2-kpi-shapes/")
    (dict "part" "3" "title" "Filling up with colour using SVG in Power BI" "url" "https://hatfullofdata.blog/svg-in-power-bi-part-3/")
    (dict "part" "4" "title" "Using Text in SVG" "url" "https://hatfullofdata.blog/svg-in-power-bi-part-4/")
    (dict "part" "5" "title" "Using SVG Rotate to create a dial in Power BI" "url" "https://hatfullofdata.blog/svg-in-power-bi-part-5/")
    (dict "part" "6" "title" "SVG Icons in Conditional Formatting" "url" "https://hatfullofdata.blog/svg-in-power-bi-part-6-new-icon-conditional-formatting/")
    (dict "part" "7" "title" "Using a Theme to add SVG Icons" "url" "https://hatfullofdata.blog/svg-in-power-bi-part-7-using-theme-svg-icons/")
    (dict "part" "8" "title" "Feb 2023 Update - 5 SVG Stars" "url" "https://hatfullofdata.blog/power-bi-5-stars-svg/")
-}}

<h2>Series</h2>
<p>This is part of a series on using SVG in Power BI. The series supports my session at Power BI Days in Mechelen, Belgium in April 2019.</p>
<ol>
    {{- range $items }}
    <li>
        {{- if eq $current .part -}}
            <strong>{{ .title }}</strong>
        {{- else -}}
            <a href="{{ .url }}">{{ .title }}</a>
        {{- end -}}
    </li>
    {{- end }}
</ol>