{{- $current := printf "%v" (.Get "current" | default "") -}}
{{- $items := slice
    (dict "part" "1" "title" "Getting started with variable libraries" "url" "/variable-library/")
    (dict "part" "2" "title" "Variable Values in a Fabric Notebook" "url" "/accessing-a-variable-library-in-a-notebook/")
    (dict "part" "3" "title" "Variable Values in a Data Pipeline" "url" "/using-a-variable-library-in-a-data-pipeline/")
    (dict "part" "4" "title" "Variable Values in Lakehouse Shortcuts" "url" "/using-a-variable-library-in-lakehouse-shortcuts/")
    (dict "part" "5" "title" "Variable Values in Dataflows" "url" "/using-variable-library-in-a-dataflow/")
    (dict "part" "6" "title" "Variable Libraries in Deployment Pipelines" "url" "/variable-libraries-in-deployment-pipelines/" "publishDate" "2026-07-17")
    (dict "part" "7" "title" "Connection variables in a variable library" "url" "/connection-variables-in-variable-library/" "publishDate" "2026-07-20")
-}}

<h2>Variable Library Series</h2>
<p>Variable libraries should be part of every project. This post is part of my series to help get you started creating the library and then using the variables and finally seeing your hard work pay back when it comes to deployment pipelines.</p>
<ol>
    {{- range $items }}
    <li>
        {{- if eq $current .part -}}
            <strong>{{ .title }}</strong>
        {{- else if and .publishDate ((time .publishDate).After now) -}}
            {{ .title }} <em>(coming soon)</em>
        {{- else if .url -}}
            <a href="{{ .url }}">{{ .title }}</a>
        {{- else -}}
            {{ .title }}
        {{- end -}}
    </li>
    {{- end }}
</ol>